.container_demo {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario_alumno {
  display: flex;
  gap: 50px;
}

.top {
  top: 0;
  height: 100vh;
  width: 50vw;
  background-color: rgba(0, 0, 0, 0.8);
  display: grid;
  place-items: center;
  transition: 0.4s;
}

.close {
  top: 5em;
  left: 70%;
}

.translate {
  transform: translateY(-100%);
}
